
@{
    Layout = null;
}

<footer class="row color-white">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12 margin-bottom-10">
                        <a href="@Url.Action("Index", "Home")">
                            <img src="~/Content/images/tecwi-logo.png" alt="Tecwi"/>
                        </a>
                    </div>
                    <div class="col-md-12 margin-bottom-10">
                        @Html.ActionLink("About", "About", "Home")<br/>
                        @Html.ActionLink("Why Tecwi", "WhyTecwi", "Home")<br/>
@*                        @Html.ActionLink("Careers", "Careers", "Home")<br/>*@
                        @Html.ActionLink("Contact", "Contact", "Home")<br/>
                    </div>
                    <div class="col-md-12">
                        <a href="#" class="social"><img src="~/Content/images/social/linkedin.png" alt="linkedin"/></a>
                        <a href="#" class="social"><img src="~/Content/images/social/facebook.png" alt="facebook"/></a>
                        <a href="#" class="social"><img src="~/Content/images/social/twitter.png" alt="twitter"/></a>
                        <a href="#" class="social"><img src="~/Content/images/social/google.png" alt="google"/></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <h4>Services</h4>
                <p>
                    @Html.ActionLink("Services", "Index", "Services")<br />
                    @Html.ActionLink("My development team", "YourDevelopmentTeam", "Services")<br/>
                    @Html.ActionLink("Custom product development", "ApplicationsDevelopment", "Services")<br/>
                    @Html.ActionLink("Software Quality Assurance", "SoftwareQualityAssurance", "Services")<br/>
                    @Html.ActionLink("Independent Testing ", "Details", "Services", new {@id = 6}, null)<br/>
                    @Html.ActionLink("Test Automation", "Details", "Services", new {@id = 5}, null)<br/>
                    @Html.ActionLink("Application Security Testing", "Details", "Services", new {@id = 7}, null)<br/>
                    @Html.ActionLink("Load Testing", "Details", "Services", new {@id = 8}, null)<br/>
                </p>
            </div>

            <div class="col-md-4">
                <h4>About</h4>
                <p class="text-justify">
                    We are Tecwi. Young and dynamic custom software outsource and outstaffing business partner who will thoroughly farmiliaze ourselves with your
                    business and help drive efficiency and development. We help you to on-board talented professionals for efficient and robust
                    projects whatever the scale and complexity is, as well as outsource turnkey custom product development.<br/>
                    Tecwi was founded in 2011 by software developers with years of commercial experience in the UK, Europe, the USA and Canada.
                    We are London based private limited company with the development hub in Ukraine.<br/>
                    Our values is to go beyond clients' expectations by bringing together innovations, technology and talent.
                </p>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                Tecwi Limited, registered in England & Wales at 71-75, Shelton Street, Covent Garden, London, WC2H 9JQ. Company Nr: 10032741.
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                &copy; 2016 - Tecwi
            </div>
        </div>
    </div>
</footer>

