<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Tecwi</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-default navbar-static-top" style="margin-top: 0">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home")" class="logo">
                    <img src="~/Content/images/tecwi-logo.png" alt="Tecwi" />
                </a>
            </div>

            <div class="navbar-collapse collapse navbar-right" style="margin-top: 15px">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("My development team", "YourDevelopmentTeam", "Services")</li>
                    <li>@Html.ActionLink("Custom product development", "ApplicationsDevelopment", "Services")</li>
                    <li>@Html.ActionLink("Quality Assurance", "SoftwareQualityAssurance", "Services")</li>
                    <li>@Html.ActionLink("Why Tecwi", "WhyTecwi", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
@*                    <li>@Html.ActionLink("Careers", "Careers", "Home")</li>*@
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>


    </div>
    <div class="body-content container">
        @RenderBody()
        @{
            Html.RenderAction("Create", "Message");
        }
        @Html.Partial("_Footer")
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>


